body {
    margin: 0;
    background-image: url("space-background.jpg");
    
}
 .name {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    
 }

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}



.board {
    width: 600px;
    height: 600px;
    
    display: grid;
    border: 8px solid black;
    border-radius: 10px;
}

.button-box {
    display: flex;
    justify-content: center;
    

}

.buttons {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

button {
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.size-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}